<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Tony.Zakron"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application android:label="@string/app_name"
                 android:name=".MotorApplication"
                 android:icon="@drawable/ic_launcher">
        <activity android:name="SplashScreen"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".DeviceScanActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                />

        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait"
                />
        <activity android:name=".BaseActivity"/>

        <receiver
                android:name=".ble.BluetoothAdapterListener"
                android:exported="false" >
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="fb62bd4bbf7439df7bc68c2f06bc8b2bfbb19f5e"/>

    </application>

</manifest>
